%game__cards
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    display: flex
    justify-content: center
    align-items: center
    transition: 1s
    backface-visibility: hidden
    border-radius: 10px

%game__icon
    width: 48px
    height: 48px
    background-repeat: no-repeat

%victory__btn
    display: block
    text-align: center
    text-decoration: none
    border-radius: 5px
    padding: 10px
    cursor: pointer
    margin: 10px
    color: #fff
    font-weight: bold
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.363)

.invisible
    display: none

.visible
    display: flex

.game
    position: relative
    display: grid
    grid-template-rows: 1fr 10fr
    grid-gap: 1vw

    .game__block
        position: absolute
        z-index: 1000
        width: 100%
        height: 100%
        top: 0
        left: 0

    .game__info
        width: 100%

        .game__counter
            text-align: center
            font-weight: bold
            color: #ffeb3b
            font-size: 40px
            text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.363)

        .game__score
            text-align: center
            color: #aaa
            font-size: 18px

            .game__score-info
                font-weight: bold
                color: #fff

    .game__list-light
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(3, 1fr)

    .game__list-difficult
        grid-template-columns: repeat(5, 1fr)
        grid-template-rows: repeat(4, 1fr)

    .game__list-heavy
        grid-template-columns: repeat(6, 1fr)
        grid-template-rows: repeat(5, 1fr)

    .game__list
        display: grid
        justify-self: center
        grid-gap: 1vw
        width: 70%


        .game__item
            display: flex
            border-radius: 10px
            cursor: pointer

            .game__card
                position: relative
                perspective: 1000px
                width: 100%
                height: auto

                .game__card-front
                    @extend %game__cards

                .game__card-front-light
                    background-color: #ff3343
                    &:hover
                        box-shadow: 0px 5px 10px 2px #ff475455

                .game__card-front-difficult
                    background-color: #e052f2
                    &:hover
                        box-shadow: 0px 5px 10px 2px #e052f255

                .game__card-front-heavy
                    background-color: #7229d9
                    &:hover
                        box-shadow: 0px 5px 10px 2px #7229d955

                .game__icon-barcode
                    @extend %game__icon
                    background-image: url('../../images/icons/barcode.png')

                .game__card-back
                    @extend %game__cards
                    background-color: #fff
                    transform: rotateY(180deg)
                    &:hover
                        box-shadow: 0px 5px 10px 2px #fff5

                    .game__icon-code
                        @extend %game__icon
                        background-image: url('../../images/icons/code.png')
                    
                    .game__icon-hooks
                        @extend %game__icon
                        background-image: url('../../images/icons/hooks.png')

                    .game__icon-development
                        @extend %game__icon
                        background-image: url('../../images/icons/development.png')

                    .game__icon-fork
                        @extend %game__icon
                        background-image: url('../../images/icons/fork.png')

                    .game__icon-branch
                        @extend %game__icon
                        background-image: url('../../images/icons/branch.png')

                    .game__icon-script
                        @extend %game__icon
                        background-image: url('../../images/icons/script.png')

                    .game__icon-qr
                        @extend %game__icon
                        background-image: url('../../images/icons/qr.png')

                    .game__icon-barcodes
                        @extend %game__icon
                        background-image: url('../../images/icons/barcodes.png')

                    .game__icon-inventory
                        @extend %game__icon
                        background-image: url('../../images/icons/inventory.png')

                    .game__icon-digital
                        @extend %game__icon
                        background-image: url('../../images/icons/digital.png')

                    .game__icon-building
                        @extend %game__icon
                        background-image: url('../../images/icons/building.png')

                    .game__icon-city
                        @extend %game__icon
                        background-image: url('../../images/icons/city.png')

                    .game__icon-box
                        @extend %game__icon
                        background-image: url('../../images/icons/box.png')

                    .game__icon-rocket
                        @extend %game__icon
                        background-image: url('../../images/icons/rocket.png')

                    .game__icon-email
                        @extend %game__icon
                        background-image: url('../../images/icons/email.png')
                        
                        
                .game__card-front--rotate
                    transform: rotateY(180deg)

                .game__card-back--rotate
                    transform: rotateY(360deg)

    .victory
        position: absolute
        justify-content: center
        align-items: flex-start
        width: 100%
        height: 100%
        z-index: 1003

        .victory__info
            width: 50%
            background-color: #fff
            border-radius: 10px
            padding: 20px
            text-align: center
            border: 7px solid #09c0fa
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)

            .victory__title
                width: 100%
                padding: 10px
                font-size: 20px
                font-weight: bold
            
            .victory__score
                width: 100%
                padding: 20px 10px
            
                .victory__score-info
                    font-weight: bold
            
            .victory__nav
                display: flex
                width: 100%
                flex-direction: column
                justify-content: flex-start
                align-items: center

                .victory__choice
                    @extend %victory__btn
                    background-color: #09c0fa

                .victory__restart
                    @extend %victory__btn
                    background-color: #ffb647


@media ( max-width: 769px )
    .game
        .game__list
            width: 100%

        .victory
            .victory__info
                width: 90%
    


        